{{/* Attend .pages : les pages de la section blog */}}
{{ $pages := .pages }}

{{/* Catégories */}}
{{ $cats := dict }}
{{ range $p := $pages }}
  {{ with $p.Params.categories }}
    {{ range . }}
      {{ $name := . }}
      {{ $key := $name | urlize }}
      {{ $cur := index $cats $key }}
      {{ if $cur }}
        {{ $cats = merge $cats (dict $key (merge $cur (dict "count" (add (index $cur "count") 1)))) }}
      {{ else }}
        {{ $cats = merge $cats (dict $key (dict "name" $name "url" (printf "/categories/%s/" $key) "count" 1)) }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{/* Tags */}}
{{ $tags := dict }}
{{ range $p := $pages }}
  {{ with $p.Params.tags }}
    {{ range . }}
      {{ $name := . }}
      {{ $key := $name | urlize }}
      {{ $cur := index $tags $key }}
      {{ if $cur }}
        {{ $tags = merge $tags (dict $key (merge $cur (dict "count" (add (index $cur "count") 1)))) }}
      {{ else }}
        {{ $tags = merge $tags (dict $key (dict "name" $name "url" (printf "/tags/%s/" $key) "count" 1)) }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{/* Maps -> slices triables */}}
{{ $catList := slice }} {{ range $k, $v := $cats }} {{ $catList = $catList | append $v }} {{ end }}
{{ $tagList := slice }} {{ range $k, $v := $tags }} {{ $tagList = $tagList | append $v }} {{ end }}

{{ if or (gt (len $catList) 0) (gt (len $tagList) 0) }}
  <div class="awsd-blog-filters awsd-around">
    {{ if gt (len $catList) 0 }}
    <div class="filters-left">
      <div class="terms-tags cat-row">
        {{ range sort $catList "name" }}
          <a class="tag" href="{{ .url }}">{{ .name }} ({{ .count }})</a>
        {{ end }}
      </div>
    </div>
    {{ end }}

    {{ if gt (len $tagList) 0 }}
    <div class="filters-right">
      <div class="terms-tags tags-row">
        {{ range sort $tagList "name" }}
          <a class="awsd-tag" href="{{ .url }}">#{{ .name }}</a>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
{{ end }}
