<!-- Blog section P4-->
  <div class="relative px-1 pt-8 pb-4 bg-transparent lg:px-8 lg:pt-12 lg:mb-4 md:mt-12">
    <div class="absolute inset-0">
      <div class="h-1/3 bg-gray-200 dark:bg-gray-900/50 sm:h-2/3"></div>
    </div>
    <div class="relative px-2 mx-auto max-w-7xl">
      <div class="text-center">
        <h2 class="text-3xl font-black tracking-tight text-primary-500 dark:text-primary-300 sm:text-4xl">
          {{ .Site.Params.P4.Heading }}
        </h2>
        {{ range .Site.Params.P4.Content }}
        <p class="mx-auto mt-3 max-w-2xl text-xl text-gray-500 dark:text-gray-300 sm:mt-4">
          {{ .text }}
        </p>
        {{ end }}
      </div>

      <div class="mx-auto max-w-7xl text-gray-900 dark:text-gray-50 md:px-1.5">
        <div class="px-4 text-gray-900 dark:text-white not-prose dark:text-zinc-200">
          <div class="grid gap-4 mx-auto mt-12 mb-4 lg:max-w-none md:grid-cols-3">
            {{ range (.Paginator 3).Pages }}
            {{ partial "post-tile.html" . }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>